@tailwind base; 
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app_container {
	display: flex;
	flex-direction: row;
}

.random_numbers_container {
	width: 40%; 
}

.characteristics_container {
	background-color: rgb(236, 236, 236);
	height: 100vh;
	width: 60%;
}

.rand_main_container{
  height: 100vh;
  background-color: rgb(13, 13, 69);
}

.image {
  width: 100px; 
  margin-bottom: 30px
}

.form  {
  padding: 50px; 
  color: white
}

.header  {
  color: white; 
  font-weight: bold; 
  text-decoration: wavy; 
  font-size: 30px; 
  height: 130px; 
}

label {
	font-size: 18px;
}

.inputs_container {
  height: 170px;
}

.click_info {
	margin-top: 45px;
	font-size: 20px;
}

input {
  border: none; 
  display: block;
  margin: 10px 0 10px 0;
  padding: 7px;
  border-radius: 5px;
  color: rgb(13, 13, 69);
}

input:focus {
	border: 1px solid gray;
}

button {
  margin-top: 30px; 
  padding: 12px 20px; 
  background-color: rgb(166, 255, 166) !important;
  color: rgb(13,13,69);
  border-radius: 7px;
  font-size: 18px;
}

.characteristics {
	color: rgb(13, 13, 69);
	margin: 0 auto;
	height: 100vh;
	padding: 150px 200px;
	text-align: center;
	background-color: whitesmoke;
}

.hello_header {
	font-size: 48px;
	font-weight: 700;
	font-style: italic;
	padding-bottom: 100px;
}

.character_info {
	height: 200px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.pokemon_info {
	font-size: 32px;
}

.character_info li {
	font-weight: 100;
	font-style: italic;
	font-size: 24px;
}

.character_info li span {
	font-weight: bold;
	font-size: 32px;
}